# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.private/
gcloud-key.json
# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js
.log
fire-storage/.postgres_persist/
.postgres/
# testing
/coverage
python/
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.prod
.env.development.local
.env.test.local
.env.production.local

./*debug.log

# vercel
.vercel

# firebase junk
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
fire-storage/.postgres_persist/pg_stat_tmp/db_0.stat
fire-storage/.postgres_persist/pg_stat_tmp/global.stat
fire-storage/.postgres_persist/
fire-storage/.postgres_persist/pg_stat_tmp/global.stat
fire-storage/.postgres_persist/pg_stat_tmp/db_16384.stat
fire-storage/.postgres_persist/pg_stat_tmp/db_0.stat
fire-storage/.postgres_persist/global/pg_control
fire-storage/.postgres_persist/base/16384/2619
